.mcenter {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%;
}

.logo {
    max-height: 100px;
    max-height: 550px;
}

@media only screen and (max-width: 768px) {
    .loginform {
        width: 85% !important;
        margin-top: 8%;
    }
}